* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:active,
a:focus,
a:link,
a:visited {
    text-decoration: none;
    outline: 0;
    color: currentColor;
}

ul {
    padding: 0;
    list-style: none;
}