$responsiveMD: "<768px";
$responsiveSM: "<650px";
$responsiveXS: "<400px";

@include media($responsiveMD) {
    :root {
        --contentColor: #fbfbfb;
    }

    .card__title {
        margin-bottom: 30px;
    }

    .card__description {
        max-width: calc(100% - 50px);
    }

    // .tabs__content {
    //     padding: 32px 20px;

    //     .social {
    //         background: #fff;
    //         position: fixed;
    //         top: auto;
    //         bottom: 0;
    //         width: 100%;
    //         justify-content: center;
    //         padding: 10px;
    //         font-size: 20px;

    //         li {
    //             padding: 0;
    //             margin: 0 !important;

    //             a {
    //                 padding: 10px 16px;
    //             }
    //         }
    //     }
    // }
}


@include media($responsiveMD) {

    .wrapper .content .heading-about {
        margin-bottom: 20px;
    }

    .home {
        nav {
            margin: auto;
            width: 500px;
            left: 0;
            display: flex;
            justify-content: center;
            right: -200px;
        }

        .body {
            transform: translateX(-80px) scale(1);
            .text-right {
                left: 54%;
            }
        }
    }
}

@include media($responsiveSM) {
    :root{
        --gridColumn: 1;
    }
    .tabs__content{
        padding: 40px 30px !important;
    }
}

@include media($responsiveXS) {
    :root{
        --fontSizeLogo: 40px;
        --navFontSize: 14px;
    }
}