.tabs {
    $tabColor: #1893ff;
    max-width: 820px;
    margin: 0 auto;
    padding-bottom: 60px;

    &>ul {
        display: flex;
        border-bottom: 1px solid rgba(black, .2);
    }

    &__item {
        padding: 8px 16px;
        border-bottom: 3px solid transparent;
        font-size: 16px;
        transition: color .15s ease;

        &:hover {
            cursor: pointer;
            color: $tabColor;
        }

        &.active {
            border-color: $tabColor;
            color: $tabColor;
            font-weight: bold;
        }
    }

    &__content {
        padding: 50px 40px;
        font-size: 18px;
        line-height: 1.5;
        position: relative;
        background: #fff;
        box-shadow: 0 8px 20px -4px rgba(0,0,0,0.15);
        border-radius: 0 0 5px 5px;

        .link {
            font-size: .85em;
        }

        p {
            margin-bottom: 20px;
        }

        .social {
            padding-right: 8px;
            font-size: 18px;
            color: #666;
            display: inline-flex;
            width: 100%;
            justify-content: flex-end;
            position: absolute;
            top: -34px;
            right: 0;
            pointer-events: none;

            i {
                font-weight: normal;
                font-size: 1em;
            }

            ul {
                display: flex;
            }

            li {
                transition: color .15s ease;
                pointer-events: auto;

                &:hover {
                    color: $linkColor;
                }
            }

            li:not(:last-child) {
                margin-right: 14px;
            }
        }

        &>div {
            display: none;
        }

        .active {
            display: block;
        }

        .short-bio-list {
            list-style: square;
            list-style-position: inside;
        }

        b {
            font-size: .9em;
        }

        #bio {
            ol {
                list-style-position: inside;
                margin-bottom: 20px;
                font-style: italic;
                font-size: .95em;
            }
        }
    }
}