:root {
  --test: "commit";
  --gridColumn: 2;
  --gridGap: 20px;
  --layout: 1024px;
  --cardImage: 150px;
  --fontSizeLogo: 50px;
  --navFontSize: 16px;
  --easing: cubic-bezier(.52, 0, .53, 1);
  --contentColor: #f4f8fb;
  --bodyFontColor: rgba(black, .7);
}
$linkColor: #52aeff;
$navDelay: 3.5s;
