:root {
  --gridColumn: 2;
  --gridGap: 20px;
  --layout: 1024px;
  --cardImage: 150px;
  --fontSizeLogo: 50px;
  --navFontSize: 14px;
  --easing: cubic-bezier(.52, 0, .53, 1);
}

$navBG: #e9e9e9;
$navDelay: 0s;
$tabColor: #52aeff;
$linkColor: #1893ff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:focus,
a:link,
a:visited {
  text-decoration: none;
  outline: 0;
  color: currentColor;
}

ul {
  padding: 0;
  list-style: none;
}

$bodyColor: rgba(black, .7);
body,
html,
main {
  height: 100%;
  font-family: "Open Sans";
  color: $bodyColor;
}

body {
 overflow: hidden;
}

.home {
  $bgColor: rgb(250, 250, 250);
  $fontColor: #3c3c3c;
  background: $bgColor;
  position: relative;
  z-index: 9;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all .25s var(--easing);
  &.is-hidden{
    transform: scale(1.5);
    opacity: 0;
    z-index: 0;
  }
  .body {
    height: 280px;
    width: 500px;
    position: relative;
    font-family: "Limelight";
    font-size: var(--fontSizeLogo);
    color: $fontColor;
    transform: translateX(-60px);

    .line {
      border-left: 4px solid $fontColor;
      height: 0;
      width: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      box-shadow: 0 0 0 8px $bgColor;
      z-index: 1;
      transform: rotate(25deg);
      animation: line 0.5s 1s var(--easing) forwards;
    }

    .text-left,
    .text-right {
      transform: rotate(25deg);
      height: 340px;
      width: 320px;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      overflow: hidden;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 20px;

      p {
        margin: 4px 0;
      }
    }

    .text-right {
      left: 265px;

      p {
        margin-left: -15px;
        transform: translateX(-300px) translateY(150px) rotate(-25deg);
        animation: entrance .5s var(--easing) forwards;

        &:nth-child(1) {
          animation-delay: 1.5s;
        }

        &:nth-child(2) {
          animation-delay: 2.5s;
        }

        &:nth-child(3) {
          animation-delay: 2.75s;
        }
      }
    }

    .text-left {
      left: -330px;

      p {
        text-align: right;
        margin-top: -40px;
        margin-right: -5px;
        transform: translateX(300px) translateY(-150px) rotate(-25deg);
        animation: entrance .5s var(--easing) forwards;
        animation-delay: 1.75s;
      }
    }
  }

  nav{
    font-family: "Open Sans";
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: calc(var(--navFontSize));
    z-index: 1;
    font-size: var(--navFontSize);
    font-weight: bold;
    animation: nav .5s $navDelay var(--easing) forwards;
    ul{
      display: flex;
      a{
        padding: 8px 12px;
        line-height: 1;
        transition: background .25s ease;
        border-radius: 4px;
        &:hover{
          background: $navBG;
        }
      }
    }

    @keyframes nav {
      to{
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @keyframes entrance {
    to {
      transform: translateX(0) rotate(-25deg);
    }
  }

  @keyframes line {
    to {
      height: 300px;
    }
  }

  @keyframes menu {
    to {
      transform: scaleX(1);
    }
  }
}

.wrapper{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
  .content{
    display: none;
    max-width: var(--layout);
    margin: 0 auto;
    padding-top: 30px;
    &.active{
      display: block;
    }
    .content-close{
      opacity: 0;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      text-align: right;
      padding: 0 20px;
      padding-bottom: 30px;
      transition: opacity .5s var(--easing);
      &.active{
        opacity: 1;
      }
    }
    .heading-about{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 70px;
    }
    .social {
      font-size: 24px;
      color: #555;
      display: inline-flex;
      position: fixed;
      bottom: 0;
      width: 100%;
      justify-content: center;
      padding: 20px;
      background: #fff;

      ul {
        display: flex;
      }
      li{
        transition: color .15s ease;
        &:hover {
          color: $linkColor;
        }
      }
      li:not(:last-child){
        margin-right: 12px;
      }
    }
    .grid-container{
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(var(--gridColumn), 1fr);
      grid-gap: var(--gridGap);
      padding-bottom: 20px;
    }
  }
}
#about, #labs, #projects{
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity .5s var(--easing);
  padding: 0 20px;
  &.active{
     opacity: 1;
     visibility: visible;
     height: auto;
  }
}

// components
.card{
  position: relative;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(black, .25);
  width: 100%;
  height: 240px;
  overflow: hidden;
  color: $bodyColor;
  line-height: 1;
  &__link{
    height: 100%;
    display: block;
  }
  &__title{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    width: calc(100% - var(--cardImage));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.25;
  }
  &__description{
    font-size: 15px;
    max-width: 270px;
    line-height: 1.5;
  }
  &__image{
    position: absolute;
    top: 0;
    right: 0;
    width: var(--cardImage);
    height: var(--cardImage);
    filter: drop-shadow(0 0 4px rgba(black, .35));
    img{
      opacity: 0.8;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
      width: 100%;
      height: 100%;
      transition: all .25s var(--easing);
    }
  }
  &__tags{
    position: absolute;
    bottom: 20px;
    display: flex;
  }

  &:hover{
    img{
      opacity: 1;
      transform: scale(1.1);
      //clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    }
  }
}

.tag{
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  //border: 1px solid rgba(black, .2);

  &:not(:last-child){
    margin-right: 8px;
  }

  &--sass{
    background: #FFE7FB;
    //border-color: #FFE7FB;
  }
  &--html{
    background: #FEDDB7;
    //border-color: #FEDDB7;
  }
  &--animation{
    background: #FCC6C6;
    //border-color: #FCC6C6;
  }
  &--one-div{
    background: #CAE9FF;
    //border-color: #CAE9FF;
  }
  &--css{
    background: #BAE9E3;
    //border-color: #BAE9E3;
  }
  &--javascript, &--js{
    background: #BAE9E3;
    //border-color: #BAE9E3;
  }
  &--open-source{
    background: #BAE9E3;
    //border-color: #BAE9E3;
  }
  &--npm{
    background: #BAE9E3;
    //border-color: #BAE9E3;
  }
  &--gulp{
    background: #BAE9E3;
    //border-color: #BAE9E3;
  }
  &--svg{
    background: #BAE9E3;
    //border-color: #BAE9E3;
  }
  &--responsive{
    background: #BAE9E3;
    //border-color: #BAE9E3;
  }
}

.heading{
  font-family: "Limelight";
  position: relative;
  margin-bottom: 15px;
  display: inline-flex;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 4px solid currentColor;
    width: 45px;
  }
}

.page-description{
  font-size: 16px;
}

.tabs{
  max-width: 700px;
  margin: 0 auto;
  & > ul{
    display: flex;
    border-bottom: 1px solid rgba(black, .2);
  }
  &__item{
    padding: 8px 12px;
    border-bottom: 3px solid transparent;
    font-size: 14px;
    transition: color .15s ease;
    &:hover{
      cursor: pointer;
      color: $tabColor;
    }
    &.active{
      border-color: $tabColor;
      color: $tabColor;
      font-weight: bold;
    }
  }
  &__content{
    padding-top: 32px;
    padding-left: 8px;
    font-size: 18px;
    line-height: 1.5;
    & > div{
      display: none;
    }
    .active{
      display: block;
    }
    .short-bio-list{
      list-style: square;
      list-style-position: inside;
      margin-top: 32px;
      font-size: 16px;
    }
    .link{
      color: $linkColor;
      font-size: .85em;
      text-decoration: underline;
    }
    i{
      font-size: .9em;
      font-weight: bold;
    }
  }
}