:root {

}

$navBG: #f2f2f2;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:focus,
a:link,
a:visited {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: 0.2s ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
}


body,
html,
main {
  height: 100%;
}

body {
 overflow: hidden;
}

.home {
  position: relative;
  z-index: 9;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.is-hidden{
    display: none;
  }
  .body {
    height: 290px;
    width: 500px;
    position: relative;
    font-family: Limelight;
    font-size: 40px;
    transform: translateX(-60px);

    .line {
      border-left: 2.5px solid #000;
      height: 0;
      width: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      box-shadow: 0 0 0 8px #fff;
      z-index: 1;
      transform: rotate(25deg);
      animation: line 0.35s 0.8s ease-in-out forwards;
    }

    .text-left,
    .text-right {
      transform: rotate(25deg);
      height: 300px;
      width: 300px;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      overflow: hidden;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 20px;

      p {
        margin: 4px 0;
      }
    }

    .text-right {
      left: 265px;

      p {
        margin-left: -10px;
        transform: translateX(-300px) translateY(150px) rotate(-25deg);
        animation: entrance 1s ease-in-out forwards;

        &:nth-child(1) {
          animation-delay: 0.8s;
        }

        &:nth-child(2) {
          animation-delay: 3s;
          animation-duration: 0.5s;
        }

        &:nth-child(3) {
          animation-delay: 3.25s;
          animation-duration: 0.5s;
        }
      }
    }

    .text-left {
      left: -330px;

      p {
        text-align: right;
        margin-top: -40px;
        margin-right: -10px;
        transform: translateX(300px) translateY(-150px) rotate(-25deg);
        animation: entrance 1s ease-in-out forwards;
        animation-delay: 1.5s;
      }
    }
  }

  nav{
    opacity: 0;
    visibility: hidden;
    font-family: "Open Sans";
    position: absolute;
    bottom: 0;
    right: 23px;
    z-index: 1;
    font-size: 14px;
    font-weight: bold;
    animation: nav .5s 4s ease-in-out forwards;
    ul{
      display: flex;
      a{
        padding: 8px 10px;
        line-height: 1;
        &:hover{
          background: $navBG;
        }
      }
    }

    @keyframes nav {
      to{
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @keyframes entrance {
    to {
      transform: translateX(0) rotate(-25deg);
    }
  }

  @keyframes line {
    to {
      height: 300px;
    }
  }

  @keyframes menu {
    to {
      transform: scaleX(1);
    }
  }
}

.wrapper{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
  .content{
    display: none;
    max-width: 1024px;
    margin: 0 auto;
    &.active{
      display: block;
    }
    .grid-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      //grid-template-rows: repeat(4, 185px);
    }
  }
}
#about, #labs{
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity .5s ease-in-out;
  &.active{
     opacity: 1;
     visibility: visible;
     height: auto;
  }
}

// components
.card{
  font-family: 'Open Sans';
  position: relative;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid rgba(black, .2);
  //box-shadow: 0 0 20px rgba(black, .2);
  width: 100%;
  height: 240px;
  overflow: hidden;
  color: #444;
  line-height: 1;
  transition: border-color .25s linear;
  &__title{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  &__description{
    font-size: 15px;
    max-width: 270px;
    line-height: 1.5;
  }
  &__image{
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 240px;
    filter: drop-shadow(0 0 4px rgba(black, .35));
    img{
      opacity: 0.8;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
      width: 100%;
      height: 100%;
      transition: all .35s linear;
    }
  }
  &__tags{
    position: absolute;
    bottom: 20px;
    display: flex;
  }

  &:hover{
    //border-color: #ffbd85;
    img{
      opacity: 1;
      transform: scale(1.1);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%);
    }
  }
}

.tag{
  height: 24px;
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #666;

  &:not(:last-child){
    margin-right: 8px;
  }

  &--sass{
    background: #FFE7FB;
  }
  &--html{
    background: #FEDDB7;
  }
  &--animation{
    background: #FCC6C6;
  }
  &--one-div{
    background: #CAE9FF;
  }
  &--css{
    background: #BAE9E3;
  }
}