:root {
  --gridColumn: 2;
  --gridGap: 20px;
  --layout: 1024px;
  --cardImage: 150px;
  --fontSizeLogo: 50px;
  --navFontSize: 16px;
  --easing: cubic-bezier(.52, 0, .53, 1);
}

$navBG: #f3f3f3;
$navDelay: 3.5s;
$tabColor: #1893ff;
$linkColor: #52aeff;

::-webkit-scrollbar {
  height: 14px;
  width: 14px;
  background:0 0;
  -webkit-appearance:none;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  -webkit-border-radius: 0;
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 12px
}

::-webkit-scrollbar-corner {
  background: 0 0;
  margin: 10px
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:focus,
a:link,
a:visited {
  text-decoration: none;
  outline: 0;
  color: currentColor;
}

ul {
  padding: 0;
  list-style: none;
}

$bodyColor: rgba(black, .7);
body,
html,
main {
  height: 100%;
  font-family: "Open Sans";
  color: $bodyColor;
}

body {
 overflow: hidden;
}

.home {
  $bgColor: #fff;
  $fontColor: #3c3c3c;
  background: $bgColor;
  position: relative;
  z-index: 9;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all .25s var(--easing);
  &.is-hidden{
    transform: scale(1.5);
    opacity: 0;
    z-index: 0;
  }
  .body {
    height: 280px;
    width: 500px;
    position: relative;
    font-family: "Limelight";
    font-size: var(--fontSizeLogo);
    color: $fontColor;
    transform: translateX(-60px);

    .line {
      border-left: 4px solid $fontColor;
      height: 0;
      width: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      box-shadow: 0 0 0 8px $bgColor;
      z-index: 1;
      transform: rotate(25deg);
      animation: line .5s 1s var(--easing) forwards;
    }

    .text-left,
    .text-right {
      transform: rotate(25deg);
      height: 340px;
      width: 320px;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      overflow: hidden;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 20px;

      p {
        margin: 4px 0;
      }
    }

    .text-right {
      left: 265px;

      p {
        margin-left: -15px;
        transform: translateX(-300px) translateY(150px) rotate(-25deg);
        animation: entrance .5s var(--easing) forwards;

        &:nth-child(1) {
          animation-delay: 1.5s;
        }

        &:nth-child(2) {
          animation-delay: 2.5s;
        }

        &:nth-child(3) {
          animation-delay: 2.75s;
        }
      }
    }

    .text-left {
      left: -330px;

      p {
        text-align: right;
        margin-top: -40px;
        margin-right: -5px;
        transform: translateX(300px) translateY(-150px) rotate(-25deg);
        animation: entrance .5s var(--easing) forwards;
        animation-delay: 1.75s;
      }
    }
  }

  nav{
    font-family: "Open Sans";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-size: var(--navFontSize);
    //font-weight: bold;
    ul{
      display: flex;
      li{
        transform: translateY(20px);
        opacity: 0;
        visibility: hidden;
        animation: nav .5s $navDelay var(--easing) forwards;
        &:nth-child(2){
          animation-delay: $navDelay + .15s;
        }
        &:nth-child(3){
          animation-delay: $navDelay + .2s;
        }
        &:nth-child(4){
          animation-delay: $navDelay + .25s;
        }
      }
      a{
        padding: 8px 12px;
        line-height: 1;
        transition: background .25s ease;
        border-radius: 4px;
        &:hover{
          background: $navBG;
        }
      }
    }

    @keyframes nav {
      to{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @keyframes entrance {
    to {
      transform: translateX(0) rotate(-25deg);
    }
  }

  @keyframes line {
    to {
      height: 300px;
    }
  }

  @keyframes menu {
    to {
      transform: scaleX(1);
    }
  }
}

.wrapper{
  background: #f3f3f3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
  .content{
    display: none;
    max-width: var(--layout);
    margin: 0 auto;
    padding-top: 30px;
    &.active{
      display: block;
    }
    .content-close{
      opacity: 0;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      text-align: right;
      padding: 0 20px;
      padding-bottom: 30px;
      transition: opacity .5s var(--easing);
      &.active{
        opacity: 1;
      }
    }
    .link {
      color: $linkColor;
      font-size: .85em;
      text-decoration: underline;
    }
    .heading-about{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 70px;
    }
    .grid-container{
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(var(--gridColumn), 1fr);
      grid-gap: var(--gridGap);
      padding-bottom: 70px;
    }
  }
}
#about, #labs, #projects{
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity .5s var(--easing);
  padding: 0 20px;
  &.active{
     opacity: 1;
     visibility: visible;
     height: auto;
  }
}

// components
.card{
  position: relative;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 40px 60px -16px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 240px;
  overflow: hidden;
  color: $bodyColor;
  line-height: 1;
  //transition: box-shadow .15s var(--easing);
  &__link{
    height: 100%;
    display: block;
  }
  &__title{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    width: calc(100% - var(--cardImage));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.25;
  }
  &__description{
    font-size: 15px;
    max-width: calc(100% - (var(--cardImage) + 15px));
    line-height: 1.5;
  }
  &__image{
    position: absolute;
    top: 0;
    right: 0;
    width: var(--cardImage);
    height: var(--cardImage);
    transition: all .2s var(--easing);
    filter: drop-shadow(0 0 4px rgba(black, .35));
    img{
      opacity: 0.8;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
      width: 100%;
      height: 100%;
      transition: all .2s var(--easing);
    }
  }
  &__tags{
    position: absolute;
    bottom: 20px;
    display: flex;
  }

  &:hover{
    //box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    --cardImage: 155px;
    img{
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.tag{
  text-transform: lowercase;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #888;
  border: 1px solid rgba(black, .2);
  border-radius: 20px;

  &:not(:last-child){
    margin-right: 8px;
  }

  &--sass{
    border-color: #ffcdd2;
  }
  &--html{
    border-color: #b3e5fc;
  }
  &--animation{
    border-color: #e1bee7;
  }
  &--one-div{
    border-color: #bcaaa4;
  }
  &--css{
    border-color: #ffccbc;
  }
  &--javascript, &--js{
    border-color: #bdbdbd;
  }
  &--open-source, &--github{
    border-color: #BAE9E3;
  }
  &--npm{
    border-color: #d4e157;
  }
  &--gulp{
    border-color: #e1bee7;
  }
  &--svg{
    border-color: #80cbc4;
  }
  &--responsive{
    border-color: #c5cae9;
  }
  &--less{
    border-color: #BAE9E3;
  }
  &--bower{
    border-color: #ffb74d;
  }
  &--knockoutjs{
    border-color: #dce775;
  }
  &--api{
    border-color: #80deea;
  }
  &--maps{
    border-color: #b2dfdb;
  }
  &--udacity{
    border-color: #64b5f6;
  }
  &--canvas{
    border-color: #fdd835;
  }
  &--pwa{
    border-color: #fdd835;
  }
  &--offline{
    border-color: #8d6e63;
  }
}

.heading{
  font-family: "Limelight";
  position: relative;
  margin-bottom: 15px;
  display: inline-flex;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 4px solid currentColor;
    width: 45px;
  }
}

.page-description{
  font-size: 14px;
}

.tabs{
  max-width: 700px;
  margin: 0 auto;
  & > ul{
    display: flex;
    border-bottom: 1px solid rgba(black, .2);
  }
  &__item{
    padding: 8px 12px;
    border-bottom: 3px solid transparent;
    font-size: 14px;
    transition: color .15s ease;
    &:hover{
      cursor: pointer;
      color: $tabColor;
    }
    &.active{
      border-color: $tabColor;
      color: $tabColor;
      font-weight: bold;
    }
  }
  &__content{
    padding: 0 8px;
    padding-top: 32px;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    .social {
      padding-right: 8px;
      font-size: 18px;
      color: #666;
      display: inline-flex;
      width: 100%;
      justify-content: flex-end;
      position: absolute;
      top: -34px;
      right: 0;
      pointer-events: none;
      i{
        font-weight: normal;
        font-size: 1em;
      }

      ul {
        display: flex;
      }

      li {
        transition: color .15s ease;
        pointer-events: auto;
        &:hover {
          color: $linkColor;
        }
      }

      li:not(:last-child) {
        margin-right: 14px;
      }
    }
    & > div{
      display: none;
    }
    .active{
      display: block;
    }
    .short-bio-list{
      list-style: square;
      list-style-position: inside;
      margin-top: 32px;
      font-size: 16px;
    }
    i{
      font-size: .9em;
      font-weight: bold;
    }
  }
}