@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular-thin';
  src: url("../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  -webkit-overflow-scrolling: touch;
  background: #f5f5f5;
  font-family: 'robotoregular';
  padding: 10px 0;
  max-width: 600px;
  margin: 0 auto; }
  @media all and (max-width: 600px) {
    body {
      margin-bottom: 60px; } }

button {
  padding: 6px 12px;
  margin-right: 4px;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.35); }

.button.active {
  background: khaki; }

.app {
  z-index: 9;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px; }
  .app div:first-child {
    flex-grow: 1;
    display: flex; }
  .app select {
    width: 100%;
    max-width: 200px;
    padding: 6px;
    font-size: 12px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.35);
    background: #fff; }
  .app button {
    background: #fff; }
  @media all and (max-width: 600px) {
    .app {
      background: #03a9f4;
      padding: 14px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0; } }

.content ul {
  padding: 0;
  margin: 0; }

.content li {
  line-height: 1.15;
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  padding: 12px;
  border-bottom: solid 1px #ccc;
  position: relative; }
  .content li .fa {
    margin-left: auto;
    color: #888;
    cursor: pointer; }
  .content li .menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    opacity: 0;
    cursor: pointer; }
  .content li b {
    font-size: 70%;
    color: #444;
    font-family: 'robotoregular-thin'; }
    .content li b:not(:empty) {
      margin-left: 8px; }
  .content li.highlight {
    background: #fff7d2; }

.content small {
  border: solid 1px rgba(0, 0, 0, 0.25);
  padding: 2px 8px;
  border-radius: 10px;
  color: #fff;
  font-size: 70%;
  margin-left: 10px;
  cursor: pointer; }
  .content small.red {
    background: #ff8a80; }
  .content small.yellow {
    background: #fdd835;
    color: #444; }
  .content small.green {
    background: #66bb6a; }
  .content small.blue {
    background: #90caf9;
    color: #444; }
  .content small.purple {
    background: #ba68c8; }
  .content small.lime {
    background: #26a69a; }
  .content small.orange {
    background: #f57c00; }
  .content small.pink {
    background: pink;
    color: #444; }

.create {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  padding: 10px;
  z-index: 9;
  justify-content: center;
  flex-direction: column;
  display: none; }
  .create .close {
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    color: #666;
    cursor: pointer; }
  .create.active {
    display: flex; }
  .create input, .create select {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: #666; }
  .create div {
    padding: 10px 0; }
  .create button {
    float: right; }
