@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  background: #ecf0f1;
  font-family: 'robotoregular';
  padding: 10px 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.app{
	padding: 10px 10px;
    background: #3498DB;
	display: flex;
	justify-content: space-between;
    div{
        &:first-child{
            flex-grow: 1;
            display: flex;
        }
    }
	select{
        width: 100%;
		max-width: 200px;
		padding: 5px;
		font-size: 12px;
        border-radius: 3px;
        border: solid 1px rgba(black, .35);
	}
	button{
		padding: 4px 10px;
		margin-right: 4px;
        border-radius: 3px;
        border: solid 1px rgba(black, .35);
        background: #fff;
	}
    @media all and (max-width: 600px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.content{
	ul{
		padding: 0;
        margin: 0;
	}
	li{
		padding: 4px 0;
		line-height: 1.15;
		display: flex;
		align-items: center;
	}
	small{
		border: solid 1px rgba(black, .25);
		padding: 2px 8px;
		border-radius: 10px;
		color: #fff;
		font-size: 70%;
		margin-left: 10px;
		&.red{
			background: #ff8a80;
		}
		&.yellow{
			background: #fdd835;
			color: #444;
		}
		&.green{
			background: #66bb6a;
			//color: #444;
		}
		&.blue{
			background: #90caf9;
			color: #444;
		}
		&.purple{
			background: #ba68c8;
		}
		&.lime{
			background: #26a69a;
		}
		&.orange{
			background: #f57c00;
		}
	}
}
