:root {
  --gridColumn: 2;
  --gridGap: 20px;
  --layout: 1024px;
  --cardImage: 150px;
  --fontSizeLogo: 50px;
  --navFontSize: 14px;
  --easing: cubic-bezier(.52, 0, .53, 1); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a,
a:active,
a:focus,
a:link,
a:visited {
  text-decoration: none;
  outline: 0;
  color: currentColor; }

ul {
  padding: 0;
  list-style: none; }

body,
html,
main {
  height: 100%;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.7); }

body {
  overflow: hidden; }

.home {
  background: #fafafa;
  position: relative;
  z-index: 9;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.25s var(--easing); }
  .home.is-hidden {
    transform: scale(1.5);
    opacity: 0;
    z-index: 0; }
  .home .body {
    height: 280px;
    width: 500px;
    position: relative;
    font-family: "Limelight";
    font-size: var(--fontSizeLogo);
    color: #3c3c3c;
    transform: translateX(-60px); }
    .home .body .line {
      border-left: 4px solid #3c3c3c;
      height: 0;
      width: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      box-shadow: 0 0 0 8px #fafafa;
      z-index: 1;
      transform: rotate(25deg);
      animation: line 0.5s 1s var(--easing) forwards; }
    .home .body .text-left,
    .home .body .text-right {
      transform: rotate(25deg);
      height: 340px;
      width: 320px;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      overflow: hidden;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 20px; }
      .home .body .text-left p,
      .home .body .text-right p {
        margin: 4px 0; }
    .home .body .text-right {
      left: 265px; }
      .home .body .text-right p {
        margin-left: -15px;
        transform: translateX(-300px) translateY(150px) rotate(-25deg);
        animation: entrance 0.5s var(--easing) forwards; }
        .home .body .text-right p:nth-child(1) {
          animation-delay: 1.5s; }
        .home .body .text-right p:nth-child(2) {
          animation-delay: 2.5s; }
        .home .body .text-right p:nth-child(3) {
          animation-delay: 2.75s; }
    .home .body .text-left {
      left: -330px; }
      .home .body .text-left p {
        text-align: right;
        margin-top: -40px;
        margin-right: -5px;
        transform: translateX(300px) translateY(-150px) rotate(-25deg);
        animation: entrance 0.5s var(--easing) forwards;
        animation-delay: 1.75s; }
  .home nav {
    font-family: "Open Sans";
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: calc(var(--navFontSize));
    z-index: 1;
    font-size: var(--navFontSize);
    font-weight: bold;
    animation: nav 0.5s 0s var(--easing) forwards; }
    .home nav ul {
      display: flex; }
      .home nav ul a {
        padding: 8px 12px;
        line-height: 1;
        transition: background .25s ease;
        border-radius: 4px; }
        .home nav ul a:hover {
          background: #e9e9e9; }

@keyframes nav {
  to {
    opacity: 1;
    visibility: visible; } }

@keyframes entrance {
  to {
    transform: translateX(0) rotate(-25deg); } }

@keyframes line {
  to {
    height: 300px; } }

@keyframes menu {
  to {
    transform: scaleX(1); } }

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto; }
  .wrapper .content {
    display: none;
    max-width: var(--layout);
    margin: 0 auto;
    padding-top: 30px; }
    .wrapper .content.active {
      display: block; }
    .wrapper .content .content-close {
      opacity: 0;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      text-align: right;
      padding: 0 20px;
      padding-bottom: 30px;
      transition: opacity 0.5s var(--easing); }
      .wrapper .content .content-close.active {
        opacity: 1; }
    .wrapper .content .heading-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 70px; }
    .wrapper .content .social {
      font-size: 24px;
      color: #555;
      display: inline-flex;
      position: fixed;
      bottom: 0;
      width: 100%;
      justify-content: center;
      padding: 20px;
      background: #fff; }
      .wrapper .content .social ul {
        display: flex; }
      .wrapper .content .social li {
        transition: color .15s ease; }
        .wrapper .content .social li:hover {
          color: #1893ff; }
      .wrapper .content .social li:not(:last-child) {
        margin-right: 12px; }
    .wrapper .content .grid-container {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(var(--gridColumn), 1fr);
      grid-gap: var(--gridGap);
      padding-bottom: 20px; }

#about, #labs, #projects {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s var(--easing);
  padding: 0 20px; }
  #about.active, #labs.active, #projects.active {
    opacity: 1;
    visibility: visible;
    height: auto; }

.card {
  position: relative;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 240px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1; }
  .card__link {
    height: 100%;
    display: block; }
  .card__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    width: calc(100% - var(--cardImage));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.25; }
  .card__description {
    font-size: 15px;
    max-width: 270px;
    line-height: 1.5; }
  .card__image {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--cardImage);
    height: var(--cardImage);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.35)); }
    .card__image img {
      opacity: 0.8;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
      width: 100%;
      height: 100%;
      transition: all 0.25s var(--easing); }
  .card__tags {
    position: absolute;
    bottom: 20px;
    display: flex; }
  .card:hover img {
    opacity: 1;
    transform: scale(1.1); }

.tag {
  text-transform: uppercase;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #666; }
  .tag:not(:last-child) {
    margin-right: 8px; }
  .tag--sass {
    background: #FFE7FB; }
  .tag--html {
    background: #FEDDB7; }
  .tag--animation {
    background: #FCC6C6; }
  .tag--one-div {
    background: #CAE9FF; }
  .tag--css {
    background: #BAE9E3; }
  .tag--javascript, .tag--js {
    background: #BAE9E3; }
  .tag--open-source {
    background: #BAE9E3; }
  .tag--npm {
    background: #BAE9E3; }
  .tag--gulp {
    background: #BAE9E3; }
  .tag--svg {
    background: #BAE9E3; }
  .tag--responsive {
    background: #BAE9E3; }

.heading {
  font-family: "Limelight";
  position: relative;
  margin-bottom: 15px;
  display: inline-flex; }
  .heading::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 4px solid currentColor;
    width: 45px; }

.page-description {
  font-size: 16px; }

.tabs {
  max-width: 700px;
  margin: 0 auto; }
  .tabs > ul {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .tabs__item {
    padding: 8px 12px;
    border-bottom: 3px solid transparent;
    font-size: 14px;
    transition: color .15s ease; }
    .tabs__item:hover {
      cursor: pointer;
      color: #52aeff; }
    .tabs__item.active {
      border-color: #52aeff;
      color: #52aeff;
      font-weight: bold; }
  .tabs__content {
    padding-top: 32px;
    padding-left: 8px;
    font-size: 18px;
    line-height: 1.5; }
    .tabs__content > div {
      display: none; }
    .tabs__content .active {
      display: block; }
    .tabs__content .short-bio-list {
      list-style: square;
      list-style-position: inside;
      margin-top: 32px;
      font-size: 16px; }
    .tabs__content .link {
      color: #1893ff;
      font-size: .85em;
      text-decoration: underline; }
    .tabs__content i {
      font-size: .9em;
      font-weight: bold; }
