* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a,
a:active,
a:focus,
a:link,
a:visited {
  text-decoration: none;
  outline: 0; }

a {
  color: currentColor;
  transition: 0.2s ease-in-out; }

ul {
  padding: 0;
  list-style: none; }

body,
html,
main {
  height: 100%; }

body {
  overflow: hidden; }

.home {
  position: relative;
  z-index: 9;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .home.is-hidden {
    display: none; }
  .home .body {
    height: 290px;
    width: 500px;
    position: relative;
    font-family: Limelight;
    font-size: 40px;
    transform: translateX(-60px); }
    .home .body .line {
      border-left: 2.5px solid #000;
      height: 0;
      width: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      box-shadow: 0 0 0 8px #fff;
      z-index: 1;
      transform: rotate(25deg);
      animation: line 0.35s 0.8s ease-in-out forwards; }
    .home .body .text-left,
    .home .body .text-right {
      transform: rotate(25deg);
      height: 300px;
      width: 300px;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      overflow: hidden;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 20px; }
      .home .body .text-left p,
      .home .body .text-right p {
        margin: 4px 0; }
    .home .body .text-right {
      left: 265px; }
      .home .body .text-right p {
        margin-left: -10px;
        transform: translateX(-300px) translateY(150px) rotate(-25deg);
        animation: entrance 1s ease-in-out forwards; }
        .home .body .text-right p:nth-child(1) {
          animation-delay: 0.8s; }
        .home .body .text-right p:nth-child(2) {
          animation-delay: 3s;
          animation-duration: 0.5s; }
        .home .body .text-right p:nth-child(3) {
          animation-delay: 3.25s;
          animation-duration: 0.5s; }
    .home .body .text-left {
      left: -330px; }
      .home .body .text-left p {
        text-align: right;
        margin-top: -40px;
        margin-right: -10px;
        transform: translateX(300px) translateY(-150px) rotate(-25deg);
        animation: entrance 1s ease-in-out forwards;
        animation-delay: 1.5s; }
  .home nav {
    opacity: 0;
    visibility: hidden;
    font-family: "Open Sans";
    position: absolute;
    bottom: 0;
    right: 23px;
    z-index: 1;
    font-size: 14px;
    font-weight: bold;
    animation: nav .5s 4s ease-in-out forwards; }
    .home nav ul {
      display: flex; }
      .home nav ul li {
        padding: 8px 10px;
        line-height: 1; }
        .home nav ul li:hover {
          background: #f2f2f2; }

@keyframes nav {
  to {
    opacity: 1;
    visibility: visible; } }

@keyframes entrance {
  to {
    transform: translateX(0) rotate(-25deg); } }

@keyframes line {
  to {
    height: 300px; } }

@keyframes menu {
  to {
    transform: scaleX(1); } }

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto; }
  .wrapper .content {
    display: none; }
    .wrapper .content.active {
      display: block; }

#about, #labs {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity .5s ease-in-out; }
  #about.active, #labs.active {
    opacity: 1;
    visibility: visible;
    height: auto; }
